$color__white--base: #faf9f7;
$color__white--natural: #fff;
$color__black--base: #333;
$color__purple--base: #c44860;
$color__green--base: #4d772d;
$color__blue--base: #5892d0;
$color__gray--base: #797476;

$font-size__12: 0.75rem;
$font-size__13: 0.8125rem;
$font-size__14: 0.875rem;
$font-size__15: 0.9375rem;
$font-size__18: 1.125rem;
$font-size__20: 1.25rem;
$font-size__25: 1.5625rem;
$font-size__30: 1.875rem;
$font-size__35: 2.1875rem;