header#header.my__header
    .container
        h1.header__title Style Guide
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') home
                li.breadcrumb-item.active(aria-current='page') style guide