main#main.container.my__main
    .row
        // First (right) column
        .col-md-6
            include ../modules/colors.pug
            include ../modules/text-colors.pug
            include ../modules/button-styles.pug
            include ../modules/button-sizes.pug
            include ../modules/lists.pug
            include ../modules/alerts.pug
        // Second (left) column
        .col-md-6
            include ../modules/typography.pug
