nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
        .col-2
            a.navbar-brand(href='#')
                img(src='assets/images/logo_03.png')
        .offset-md-1.col-4
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.dropdown
                        a.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Home
                            i.ti-angle-down
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item.dropdown
                        a.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Shop
                            i.ti-angle-down
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item.dropdown
                        a.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Page
                            i.ti-angle-down
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item.dropdown
                        a.nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Blog
                            i.ti-angle-down
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
        //- .offset-md-2.col-3.d-flex
        //-     .p-2
        .offset-md-2.col-3
            
                
            