<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Organic Arangi Style Guide</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- load fontawesome-->
    <script src="https://kit.fontawesome.com/7baa5fbaa7.js"></script>
    <!-- end load-->
    <!-- load themify-icons-->
    <link rel="stylesheet" href="assets/lib/themify-icons/themify-icons.css">
    <!-- end load-->
    <!-- load bootstrap-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- end load-->
    <!-- load customer stylesheet-->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- end load-->
    <!-- load Raleway font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Domine|Raleway:600,700,800&amp;display=swap">
    <!-- end load-->
  </head>
  <body>
    <!-- load jquery-->
    <script src="node_modules/jquery/jquery.min.js"></script>
    <!-- end load-->
    <!-- load popper-->
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <!-- end load-->
    <!-- load bootstrap-->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- end load-->
  </body>
</html>