.arangi__module--alerts
    h2.module__title alerts
    .module__content
        .alert-collection
            .arangi__alert--success
                i.ti-check.alert__icon
                p.alert__content Sucess message
                span.alert__close-button
                    i.ti-close
            .arangi__alert--notification
                i.ti-info-alt.alert__icon
                p.alert__content Notification text
                span.alert__close-button
                    i.ti-close
            .arangi__alert--warning
                i.ti-help-alt.alert__icon
                p.alert__content Warning display
                span.alert__close-button
                    i.ti-close
