.arangi__module--buttons
    h2.module__title button styles
    .module__content
        .button-collection
            .button-figure
                button.arangi__button--gradient.arangi__button--height-55.
                    + Add to cart
                .button-caption Active
            .arrow-block
                i.fas.fa-arrow-right
            .button-figure
                button.arangi__button--gradient.arangi__button--height-55.arangi__button--hover.
                    + Add to cart
                .button-caption Hover
        .button-collection
            .button-figure
                button.arangi__button--solid.arangi__button--height-55.
                    + Add to cart
                .button-caption Active
            .arrow-block
                i.fas.fa-arrow-right
            .button-figure
                button.arangi__button--solid.arangi__button--height-55.arangi__button--hover.
                    + Add to cart
                .button-caption Hover
        ul.input-pill
            li.pill__button--left -
            li.pill__center
                input(type="text", value="1")
            li.pill__button--right +