.arangi__module--buttons
    h2.module__title button sizes
    .module__content
        .button-collection
            .button-figure
                button.arangi__button--solid.arangi__button--height-55.
                    + Add to cart
                .button-caption Height = 55px
            .button-figure
                button.arangi__button--solid.arangi__button--height-40.
                    + Add to cart
                .button-caption Height = 40px
            .button-figure
                button.arangi__button--solid.arangi__button--height-32.
                    + Add to cart
                .button-caption Height = 32px
            