.my__module--colors
    h2.module__title colours
    .module__content.color-collection
        .color-figure
            .color-box.purple
            .color-code c44860
        .color-figure
            .color-box.green
            .color-code 4d772d
        .color-figure
            .color-box.blue
            .color-code 5892d0
