
<div class="arangi__module--colors">
  <h2 class="module__title">colours</h2>
  <div class="module__content color-collection">
    <div class="color-figure">
      <div class="color-box purple"></div>
      <div class="color-code">c44860</div>
    </div>
    <div class="color-figure">
      <div class="color-box green"></div>
      <div class="color-code">4d772d</div>
    </div>
    <div class="color-figure">
      <div class="color-box blue"></div>
      <div class="color-code">5892d0</div>
    </div>
  </div>
</div>