.arangi__module--lists
    h2.module__title lists
    .module__content
        .list-collection
            ul.arangi__list--no-bullet
                li My account
                li.hover My cart
                li Login
                li Wishlist
                li Checkout
            ul.arangi__list--standard
                li My account
                li.hover My cart
                li Login
                li Wishlist
                li Checkout
            ol.arangi__list--standard
                li My account
                li.hover My cart
                li Login
                li Wishlist
                li Checkout