.arangi__module--colors
    h2.module__title text colours
    .module__content.color-collection
        .color-figure
            .color-box.black
            .color-code 333333
        .color-figure
            .color-box.gray
            .color-code 797476
