.arangi__module--typography
    h2.module__title typography
    .module__content
        p#dummy-text.
            Domine Regular 15/26px
            #[br]    
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
        .text-link-collection
            a.text-link__item(href="#") Text link
            a.text-link__item.typography__anchor--hover(href="#") Text link hover
            a.text-link__item.typography__style--uppercase.typography__style--arrow-right(href="#") Text link
            a.text-link__item.typography__style--uppercase.typography__style--arrow-right.typography__anchor--hover(href="#") Text link hover
        .heading-collection
            h1 Raleway Font Semibold - 35px
            h2 Raleway Font Semibold - 30px
            h3 Raleway Font Semibold - 25px
            h4 Raleway Font Extrabold - 14px
            h5 Raleway Font Extrabold - 13px